*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    --primary-clr: rgb(0, 148, 148);
    --accent-clr: rgb(146, 48, 48);
}
body{
    background: rgb(89, 90, 83);
    color: white;
}
button{
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    background: var(--primary-clr);
    cursor: pointer;
    padding: 10px 20px;
    &:hover{
        background: #ddd;
        color: black;
    }
    &:active{
        background: var(--accent-clr);
    }
}



.site-title{
    font-size: 2.5rem;
    text-align: center;
    padding: 40px 0;
    margin-bottom: 40px;
    background: rgb(35, 36, 34);
    letter-spacing: .5px;
}
.vs{
    text-align: center;
    margin-bottom: 2em;
}
.choice{
    width: fit-content;
    margin: 0 auto;
    & button{
        width: 150px;
        padding: 20px 0;
    }
}
.player-btn{
    margin-left: 30px;
}

.player-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    fieldset{
        border: none;
    }
    .player-mark-choice{
        margin-left: 20px;
        display: inline-block;
    }
    input{
        color: white;
        padding: .5em 1em;
        border-radius: 4px;
        border: 1px solid white;
        background: transparent;
    }
    button{
        padding: 10px 40px;
    }
}
.ultimate-winner,.winner,.draw{
    margin: 0 auto;
    font-size: 1.5rem;
    width: fit-content;
    position: relative;
    line-height: 1.3;
}
.smiley{
    color: #bbb;
}
.winner::before,.draw::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: white;
    bottom: 0;
}
.winner::before{
    height: .1px;
    background: var(--primary-clr);
    box-shadow: 0 0 10px 3px var(--primary-clr);
}
.game-controls-container{
    position: relative;
    .players-info{
        position: absolute;
        top: 20%;
        left: 70%;
        line-height: 1.5;
        & div:first-child{
            margin-bottom: 60px;
        }
        &__player{
            position: relative;
            h4{
                font-size: 1.2rem;
            }
        }
        &__dynamic{
            position: absolute;
            right: -5em;
            top: -9px;
        }
    }
    .ultimate-score{
        font-family: serif;
        font-size: 1.6rem;
        position: absolute;
        top: 5%;
        left: 76%;
    }
}
.game-board{
    --cell-res: 200px;
    --game-board-res: calc(var(--cell-res)*3);
    box-sizing: content-box;
    width: var(--game-board-res);
    height: var(--game-board-res);
    border: 1px solid var(--primary-clr);
    margin: 0 auto 230px;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3,var(--cell-res));
    &__cell{
        text-transform: uppercase;
        width: var(--cell-res);
        height: var(--cell-res);
        border: 1px solid var(--primary-clr);
        transition: transform 300ms;
        background: rgb(89, 90, 83);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(var(--cell-res)*.5);
        &:hover{
            transform: scale(1.03);
            border: 2px solid var(--primary-clr);
        }
        &:active{
            transform: scale(1);
        }
    }
    &_-btns{
        position: absolute;
        top: 20%;
        left: 400px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        &__btn{
            width: 100px;
            padding: 15px 0;
        }
    }
    
}
.ultimate-winner-display{
    height: 100vh;
    width: 100vw;
    background: rgba($color: #333, $alpha: .9);
    position: fixed;
    top: 0;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
    button{
        margin-top: 20px;
    }
    h1{
        position: relative;
        width: 100%;
        text-align: center;
    }
    span{
        margin-left: 10px;
        position: absolute;
        display: inline-block;
        text-transform: uppercase;
        top: 0;
    }
}

/* helper classes */
.show-ultimate-winner{
    transform: translateY(0);
}
.hide{
    display: none;
}
.mark-active{
    background: #ccc;
    color: black;
}
.margin-bottom{
    margin-bottom: 1em;
}
// animation helper classes
.blink{
    animation: blinking 2s linear infinite;
}
.jump{
    animation: jump 1s 1s  infinite cubic-bezier(.78,.2,.34,.84);
}
/* keyframes */
@keyframes jump{
   
    30%{
        top: -10px;
        transform: scale(1);
    }
    45%{
        top: -5px;
        transform: scale(1.05,1.15);
    }
    70%{
        top: -12px;
        transform: scale(1.1,1.2);
    }

    100%{
        transform: scale(1);
        top: 0;
    }
}
@keyframes blinking {
    0%{
        color: rgb(155, 81, 224);
    }
    25%{
        color: rgb(0, 255, 0);
    }
    50%{
        color: rgb(0, 247, 255);
    }
    75%{
        color: rgb(233, 66, 66);
    }
    100%{
        color: rgb(155, 81, 224);
    }
    
}