* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  --primary-clr: rgb(0, 148, 148);
  --accent-clr: rgb(146, 48, 48);
}

body {
  background: #595a53;
  color: white;
}

button {
  border-radius: 5px;
  border: 1px solid black;
  color: white;
  background: var(--primary-clr);
  cursor: pointer;
  padding: 10px 20px;
}

button:hover {
  background: #ddd;
  color: black;
}

button:active {
  background: var(--accent-clr);
}

.site-title {
  font-size: 2.5rem;
  text-align: center;
  padding: 40px 0;
  margin-bottom: 40px;
  background: #232422;
  letter-spacing: .5px;
}

.vs {
  text-align: center;
  margin-bottom: 2em;
}

.choice {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.choice button {
  width: 150px;
  padding: 20px 0;
}

.player-btn {
  margin-left: 30px;
}

.player-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}

.player-form fieldset {
  border: none;
}

.player-form .player-mark-choice {
  margin-left: 20px;
  display: inline-block;
}

.player-form input {
  color: white;
  padding: .5em 1em;
  border-radius: 4px;
  border: 1px solid white;
  background: transparent;
}

.player-form button {
  padding: 10px 40px;
}

.ultimate-winner, .winner, .draw {
  margin: 0 auto;
  font-size: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  line-height: 1.3;
}

.smiley {
  color: #bbb;
}

.winner::before, .draw::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: white;
  bottom: 0;
}

.winner::before {
  height: .1px;
  background: var(--primary-clr);
  -webkit-box-shadow: 0 0 10px 3px var(--primary-clr);
          box-shadow: 0 0 10px 3px var(--primary-clr);
}

.game-controls-container {
  position: relative;
}

.game-controls-container .players-info {
  position: absolute;
  top: 20%;
  left: 70%;
  line-height: 1.5;
}

.game-controls-container .players-info div:first-child {
  margin-bottom: 60px;
}

.game-controls-container .players-info__player {
  position: relative;
}

.game-controls-container .players-info__player h4 {
  font-size: 1.2rem;
}

.game-controls-container .players-info__dynamic {
  position: absolute;
  right: -5em;
  top: -9px;
}

.game-controls-container .ultimate-score {
  font-family: serif;
  font-size: 1.6rem;
  position: absolute;
  top: 5%;
  left: 76%;
}

.game-board {
  --cell-res: 200px;
  --game-board-res: calc(var(--cell-res)*3);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: var(--game-board-res);
  height: var(--game-board-res);
  border: 1px solid var(--primary-clr);
  margin: 0 auto 230px;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (var(--cell-res))[3];
      grid-template-columns: repeat(3, var(--cell-res));
}

.game-board__cell {
  text-transform: uppercase;
  width: var(--cell-res);
  height: var(--cell-res);
  border: 1px solid var(--primary-clr);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  background: #595a53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(var(--cell-res)*.5);
}

.game-board__cell:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  border: 2px solid var(--primary-clr);
}

.game-board__cell:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.game-board_-btns {
  position: absolute;
  top: 20%;
  left: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-board_-btns__btn {
  width: 100px;
  padding: 15px 0;
}

.ultimate-winner-display {
  height: 100vh;
  width: 100vw;
  background: rgba(51, 51, 51, 0.9);
  position: fixed;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.ultimate-winner-display button {
  margin-top: 20px;
}

.ultimate-winner-display h1 {
  position: relative;
  width: 100%;
  text-align: center;
}

.ultimate-winner-display span {
  margin-left: 10px;
  position: absolute;
  display: inline-block;
  text-transform: uppercase;
  top: 0;
}

/* helper classes */
.show-ultimate-winner {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hide {
  display: none;
}

.mark-active {
  background: #ccc;
  color: black;
}

.margin-bottom {
  margin-bottom: 1em;
}

.blink {
  -webkit-animation: blinking .5s infinite linear;
          animation: blinking .5s infinite linear;
}

.jump {
  -webkit-animation: jump 1s 1s infinite cubic-bezier(0.78, 0.2, 0.34, 0.84);
          animation: jump 1s 1s infinite cubic-bezier(0.78, 0.2, 0.34, 0.84);
}

/* keyframes */
@-webkit-keyframes jump {
  30% {
    top: -10px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  45% {
    top: -5px;
    -webkit-transform: scale(1.05, 1.15);
            transform: scale(1.05, 1.15);
  }
  70% {
    top: -12px;
    -webkit-transform: scale(1.1, 1.2);
            transform: scale(1.1, 1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    top: 0;
  }
}
@keyframes jump {
  30% {
    top: -10px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  45% {
    top: -5px;
    -webkit-transform: scale(1.05, 1.15);
            transform: scale(1.05, 1.15);
  }
  70% {
    top: -12px;
    -webkit-transform: scale(1.1, 1.2);
            transform: scale(1.1, 1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    top: 0;
  }
}

@-webkit-keyframes blinking {
  0% {
    color: #8204f8;
  }
  33% {
    color: lime;
  }
  66% {
    color: #00f7ff;
  }
  100% {
    color: #ca0505;
  }
}

@keyframes blinking {
  0% {
    color: #8204f8;
  }
  33% {
    color: lime;
  }
  66% {
    color: #00f7ff;
  }
  100% {
    color: #ca0505;
  }
}
/*# sourceMappingURL=style.css.map */