*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    --primary-clr: rgb(0, 148, 148);
    --accent-clr: rgb(146, 48, 48);
}
body{
    background: rgb(89, 90, 83);
    color: white;
}
button{
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    background: var(--primary-clr);
    cursor: pointer;
    &:hover{
        background: #ddd;
        color: black;
    }
    &:active{
        background: var(--accent-clr);
    }
}



.site-title{
    text-align: center;
    padding: 40px 0;
    margin-bottom: 40px;
    background: rgb(35, 36, 34);
    letter-spacing: .5px;
}
.vs{
    text-align: center;
    margin-bottom: 2em;
}
.choice{
    width: fit-content;
    margin: 0 auto;
    & button{
        width: 150px;
        padding: 20px 0;
    }
}
.player-btn{
    margin-left: 30px;
}

.player-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    fieldset{
        border: none;
    }
    .player-mark-choice{
        margin-left: 20px;
    }
    input{
        color: white;
        padding: .5em 1em;
        border-radius: 4px;
        border: 1px solid white;
        background: transparent;
    }
    button{
        padding: 10px 40px;
    }
}
.game-board-container{
    position: relative;
}
.game-board{
    --cell-res: 200px;
    --game-board-res: calc(var(--cell-res)*3);
    box-sizing: content-box;
    width: var(--game-board-res);
    height: var(--game-board-res);
    border: 1px solid var(--primary-clr);
    margin: 0 auto 230px;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3,var(--cell-res));
    &__cell{
        text-transform: uppercase;
        width: var(--cell-res);
        height: var(--cell-res);
        border: 1px solid var(--primary-clr);
        transition: transform 300ms;
        background: rgb(89, 90, 83);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(var(--cell-res)*.5);
        &:hover{
            transform: scale(1.03);
            border: 2px solid var(--primary-clr);
        }
        &:active{
            transform: scale(1);
        }
    }
    &_-btn{
        position: absolute;
        top: 20%;
        left: 400px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        &s{
            width: 100px;
            padding: 15px 0;
            &:last-child{
                margin-top: 200px;
                max-width: 200px;
                padding: 15px 20px;
                &:hover{
                    background: var(--primary-clr);
                    color: #fff;
                }
                &:active{
                    background: var(--primary-clr);
                }
            }
        }
    }
}

.hide{
    display: none;
}